.holding-card {
  border: solid;
  border-color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 5px;
  width: 200px;
}

p.symbol {
  font-size: 25px;
  margin: 2px;
}

p {
  font-size: 18px;
  margin: 2px;
}

.gray {
  color: gray;
}

.red {
  color: red;
}

.green {
  color: green;
}
