div.signin, div.register {
  margin: auto;
  margin-top: 130px;
  text-align: center;
  width: 60%;
}

div.signin > form, div.register > form {
  border-color: black;
  border-style: solid;
  padding: 60px;
  padding-top: 10px;
}

div.signin label, div.register label {
  margin-top: 100px;
  /*border-color: green;
  border-style: solid;*/
  font-size: 30px;
}

div.signin input, div.register input {
  font-size: 30px;
}
